doctype
html
  head

    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    title Andreas Grafen – Design & Code
    meta(name='description', content='Hi! I\' a Designer and Developer based in Leipzig, Germany. Want to learn more about me? Check out my site! c:')

    link(rel='shortcut icon', type='img/png', href='/assets/img/favicon.png')

    link(rel='stylesheet', href='/assets/css/main.min.css')


  body

    block content
