main#projects

  include:markdown-it ../content/projects.md

  section.project-grid
    article.card
      include:markdown-it ../content/projects/cascade.md
    article.card
      include:markdown-it ../content/projects/aginfo.md
    article.card
      include:markdown-it ../content/projects/ffcss.md
    article.card
      include:markdown-it ../content/projects/catppuccin.md
    article.card
      include:markdown-it ../content/projects/shortlinks.md
    article.card
      include:markdown-it ../content/projects/discord-ninja.md
