/* ----- Spacing & Layout ----- */

$base-unit: 4;

$space-xs: $base-unit * 0.25rem;
$space-x:  $base-unit * 0.50rem;
$space-s:  $base-unit * 1.00rem;
$space:    $base-unit * 2.00rem;
$space-m:  $base-unit * 3.00rem;
$space-l:  $base-unit * 5.00rem;
$space-xl: $base-unit * 8.00rem;

$border-radius:   $base-unit * 1px;
$border-radius-l: $base-unit * 4 * 1px;





/* ----- Typography ----- */

$font-family-sans:  'Jost';
$font-family-serif: 'Playfair Display';
$font-family-mono:  'Fira Code';

$font-weight-normal: 300;
$font-weight-bold:   500;
$font-weight-heavy:  800;

$font-size:    $base-unit * .5rem; // 2rem – 20px
$font-size-s:  $font-size * .8;
$font-size-m:  $font-size * 1.61;
$font-size-l:  $font-size-m * 1.61;
$font-size-xl: $font-size-l * 1.61;
