#about {

  display: flex; gap: $space;
  align-items: center; justify-content: space-between;

  padding: $space $space-s;

  background: var(--surface);


  @media (min-width:  700px) { padding: $space $space-m; }
  @media (min-width:  900px) { padding: $space $space-l; }

}



.about-illustration {

  display: none;

  max-width: 25vw;

  @media (min-width: 1200px) { display: inherit; }

}
