#hero {

  display: flex; flex-direction: column; gap: $space;
  align-items: center; justify-content: space-between;

  @include section_spacing;
  min-height: 100vh;


  @media (min-width: 1000px) { flex-direction: row; }

}


.intro { @media(min-width: 800px) { max-width: 40vw; }}


.intro h1 {

  transform: translateY($space-x);
  opacity: 0;

  animation: fade_inup 1s ease-in-out forwards;
  animation-delay: 200ms;

}


.intro p {

  transform: translateY($space-x);
  opacity: 0;

  animation: fade_inup 1s ease-in-out forwards;
  animation-delay: 275ms;

}


.terminal {

  max-width: 100vh;
  padding: $space-s;

  border-radius: $border-radius-l;
  border: 1px solid var(--overlay);
  box-shadow: 0 5px 20px 0 var(--shadow);
  background: var(--surface);

  color: var(--text);

  transform: translateY($space-x);
  opacity: 0;

  animation: fade_inup 1s ease-in-out forwards;
  animation-delay: 475ms;


  a { color: var(--rose); }

  strong { color: var(--love); }


  @media (min-width: 400px) { padding-right: $space; }
  @media (min-width: 500px) { padding-right: $space-l; }

}
