#projects {

  padding: $space $space-s;


  @media (min-width: 700px) { padding: $space-m; }
  @media (min-width: 900px) { padding: $space-m $space-l; }

}



.project-grid {

  display: grid; gap: $space-s;
  grid-template: auto / repeat(auto-fit, minmax(400px, 1fr));

  margin-top: $space;

}



.card {

  padding: $space-s;

  border-radius: $border-radius;
  background: var(--surface);


  img {

    margin: #{-$space-s} #{-$space-s} 0 #{-$space-s};
    width: calc(100% + (#{$space-s}*2));

    border-radius: $border-radius;
    background: var(--rose);

  }


  h3 { margin: $space-x 0; }

}
